#test-1920x {
    position: absolute;
    left: 2000px;
    top: 0px;
    width: 1920px;
    height: 2245px;
    background: #efefef;
    background-blend-mode: normal;
}

#body {
    position: absolute;
    left: 73px;
    top: 210px;
    width: 1774px;
    height: 641px;
}

#dMAS_prese {
    position: absolute;
    left: 1131px;
    top: 0px;
    width: 643px;
    height: 641px;
}

#gearEnviro {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 610.61px;
    height: 377.87px;
    background: linear-gradient(
        90deg,
        #017360 0%,
        #0c935f 37.95%,
        #67e26d 99.95%
    );
    background-blend-mode: normal;
}

#gearHealth {
    position: absolute;
    left: 34.75px;
    top: 265.35px;
    width: 609.35px;
    height: 374.58px;
    background: linear-gradient(
        90deg,
        #b32c78 0%,
        #ff034d 44.48%,
        #ffa949 99.95%
    );
    background-blend-mode: normal;
}

#health {
    position: absolute;
    left: 154.77px;
    top: 195.85px;
    width: 185.7px;
    height: 263.75px;
    background: linear-gradient(
        -34deg,
        #b32c78 0%,
        #ff004d 44.48%,
        #ffa949 99.81%
    );
    background-blend-mode: normal;
}

#medical {
    position: absolute;
    left: 199px;
    top: 240.08px;
    width: 79.23px;
    height: 79.24px;
    background: #ffffff;
    background-blend-mode: normal;
}

#environmen {
    position: absolute;
    left: 322.18px;
    top: 192.69px;
    width: 164.64px;
    height: 268.14px;
    background: linear-gradient(
        -28deg,
        #017260 0%,
        #13a95f 52.11%,
        #67e26d 100%
    );
    background-blend-mode: normal;
}

#leaf {
    position: absolute;
    left: 315.87px;
    top: 148.47px;
    width: 63.95px;
    height: 52.12px;
    background: linear-gradient(90deg, #67e26d 0%, #027460 100%);
    background-blend-mode: normal;
}

#leaf {
    position: absolute;
    left: 382.2px;
    top: 170.58px;
    width: 37.37px;
    height: 30.54px;
    background: linear-gradient(270deg, #67e26d 0%, #027460 100%);
    background-blend-mode: normal;
}

#leaf {
    position: absolute;
    left: 467.48px;
    top: 331.69px;
    width: 37.37px;
    height: 30.54px;
    background: linear-gradient(270deg, #67e26d 0%, #027460 100%);
    background-blend-mode: normal;
}

#saudeemeio {
    position: absolute;
    left: 0px;
    top: 103px;
    width: 801px;
    height: 217px;
    font-family: Comfortaa;
    font-size: 64px;
    font-weight: 400;
}

#saibaMais {
    position: absolute;
    left: 0px;
    top: 350px;
    width: 300px;
    height: 75px;
    background: #00bcd4;
    background-blend-mode: normal;
}

#label {
    position: absolute;
    left: 56px;
    top: 27.5px;
    width: 188px;
    height: 20px;
    color: #ffffff;
    font-family: "Inter SemiBold";
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.08px;
}

#webInputDe {
    position: absolute;
    left: 324px;
    top: 350px;
    width: 300px;
    height: 75px;
    border: 1px solid #808080;
    background: #ffffff;
    background-blend-mode: normal;
}

#frame {
    position: absolute;
    left: 10px;
    top: 18px;
    width: 39px;
    height: 39px;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 39px;
    height: 39px;
    border-radius: 4px;
}

#placeholde {
    position: absolute;
    left: 59px;
    top: 27.5px;
    width: 76px;
    height: 20px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.08px;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 80px;
    background: #ffffff;
    background-blend-mode: normal;
}

#topbar {
    position: absolute;
    left: 0px;
    top: 17px;
    width: 1920px;
    height: 62px;
}

#logo {
    position: absolute;
    left: 73px;
    top: 4px;
    width: 156px;
    height: 39px;
}

#d.S.M.A. {
    position: absolute;
    left: 50px;
    top: 7px;
    width: 106px;
    height: 25px;
    font-family: "DejaVu Serif";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

#dMAS_stamp {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 39px;
    height: 39px;
}

#path50 {
    position: absolute;
    left: 0.99px;
    top: 30.39px;
    width: 8.04px;
    height: 7.98px;
    background: linear-gradient(270deg, #0a7c61 0%, #5fda6c 100%);
    background-blend-mode: normal;
}

#path49 {
    position: absolute;
    left: 29.69px;
    top: 30.39px;
    width: 8.04px;
    height: 7.98px;
    background: linear-gradient(256deg, #0a7c61 0%, #5fda6c 100%);
    background-blend-mode: normal;
}

#path48 {
    position: absolute;
    left: 29.69px;
    top: 1.77px;
    width: 8.04px;
    height: 7.98px;
    background: linear-gradient(-23deg, #0a7c61 0%, #5fda6c 100%);
    background-blend-mode: normal;
}

#path32-6 {
    position: absolute;
    left: 0.99px;
    top: 1.77px;
    width: 8.04px;
    height: 7.98px;
    background: linear-gradient(270deg, #0a7c61 0%, #5fda6c 100%);
    background-blend-mode: normal;
}

#rect25 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 39.04px;
    height: 39px;
    background: linear-gradient(-46deg, #017260 0%, #67e26d 100%);
    background-blend-mode: normal;
}

#tabs {
    position: absolute;
    left: 1005px;
    top: 0px;
    width: 842px;
    height: 47px;
}

#sobreoGrem {
    position: absolute;
    left: 398px;
    top: 12px;
    width: 176px;
    height: 23px;
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

#entreemcon {
    position: absolute;
    left: 199px;
    top: 12px;
    width: 164px;
    height: 23px;
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

#entreemcon {
    position: absolute;
    left: 0px;
    top: 12px;
    width: 164px;
    height: 23px;
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

#webInputDe {
    position: absolute;
    left: 609px;
    top: 0px;
    width: 233px;
    height: 47px;
    border: 1px solid #808080;
    background: #ffffff;
    background-blend-mode: normal;
}

#frame {
    position: absolute;
    left: 10px;
    top: 4px;
    width: 39px;
    height: 39px;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 39px;
    height: 39px;
    border-radius: 4px;
}

#placeholde {
    position: absolute;
    left: 59px;
    top: 13.5px;
    width: 76px;
    height: 20px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.08px;
}

#hdivider {
    position: absolute;
    left: 0px;
    top: 62px;
    width: 1920px;
    height: 0px;
    border: solid #808080;
}

#bodyTwo {
    position: absolute;
    left: 73px;
    top: 1007px;
    width: 1774px;
    height: 1165px;
}

#title {
    position: absolute;
    left: 187px;
    top: 520px;
    width: 1400px;
    height: 125px;
}

#d.S.M.A.-G {
    position: absolute;
    left: 361px;
    top: 98px;
    width: 678px;
    height: 27px;
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 400;
}

#somosoDepa {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1400px;
    height: 98px;
    font-family: Comfortaa;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

#picCards {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1774px;
    height: 434px;
}

#cardThree {
    position: absolute;
    left: 1248px;
    top: 0px;
    width: 526px;
    height: 434px;
}

#cuidandode {
    position: absolute;
    left: 136px;
    top: 414px;
    width: 254px;
    height: 20px;
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 400;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 526px;
    height: 395px;
    border-radius: 20px;
}

#cardTwo {
    position: absolute;
    left: 624px;
    top: 0px;
    width: 526px;
    height: 434px;
}

#cuidandode {
    position: absolute;
    left: 127px;
    top: 414px;
    width: 264px;
    height: 20px;
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 400;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 526px;
    height: 395px;
    border-radius: 20px;
}

#cardOne {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 526px;
    height: 434px;
}

#cuidandoda {
    position: absolute;
    left: 127px;
    top: 414px;
    width: 309px;
    height: 20px;
    font-family: Comfortaa;
    font-size: 18px;
    font-weight: 400;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 526px;
    height: 395px;
    border-radius: 20px;
}

#cards {
    position: absolute;
    left: 61px;
    top: 719px;
    width: 1618px;
    height: 446px;
}

#nossosProj {
    position: absolute;
    left: 0px;
    top: 74px;
    width: 350px;
    height: 372px;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 350px;
    height: 372px;
    border-radius: 25px;
    background: #ff2c4c;
    background-blend-mode: normal;
}

#boto {
    position: absolute;
    left: 25px;
    top: 265px;
    width: 300px;
    height: 75px;
    background: #00bcd4;
    background-blend-mode: normal;
}

#label {
    position: absolute;
    left: 56.5px;
    top: 27.5px;
    width: 187px;
    height: 20px;
    color: #ffffff;
    font-family: "Inter SemiBold";
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.08px;
}

#rectangle {
    position: absolute;
    left: 34px;
    top: 32px;
    width: 282px;
    height: 213px;
    border-radius: 35px;
}

#nossascamp {
    position: absolute;
    left: 643px;
    top: 74px;
    width: 350px;
    height: 372px;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 350px;
    height: 372px;
    border-radius: 25px;
    background: #13a85f;
    background-blend-mode: normal;
}

#boto {
    position: absolute;
    left: 25px;
    top: 265px;
    width: 300px;
    height: 75px;
    background: #00bcd4;
    background-blend-mode: normal;
}

#label {
    position: absolute;
    left: 37px;
    top: 27.5px;
    width: 226px;
    height: 20px;
    color: #ffffff;
    font-family: "Inter SemiBold";
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.08px;
}

#rectangle {
    position: absolute;
    left: 34px;
    top: 32px;
    width: 282px;
    height: 213px;
    border-radius: 35px;
}

#nossosidea {
    position: absolute;
    left: 1268px;
    top: 74px;
    width: 350px;
    height: 372px;
}

#rectangle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 350px;
    height: 372px;
    border-radius: 25px;
    background: #ff9800;
    background-blend-mode: normal;
}

#boto {
    position: absolute;
    left: 25px;
    top: 265px;
    width: 300px;
    height: 75px;
    background: #00bcd4;
    background-blend-mode: normal;
}

#label {
    position: absolute;
    left: 69.5px;
    top: 27.5px;
    width: 161px;
    height: 20px;
    color: #ffffff;
    font-family: "Inter SemiBold";
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.08px;
}

#rectangle {
    position: absolute;
    left: 34px;
    top: 32px;
    width: 282px;
    height: 213px;
    border-radius: 35px;
}

#categorias {
    position: absolute;
    left: 681px;
    top: 0px;
    width: 275px;
    height: 54px;
    font-family: Comfortaa;
    font-size: 48px;
    font-weight: 700;
}
